
<div class="modal fade" id="animal_{{ animal.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"
            id="myModalLabel">Brinco: {{ animal.brinco }}
                              <small>
                                {{ animal.propriedade }} -
                                {{ animal.propriedade.cnpj }}
                              </small>
        </h4>
      </div>
      <div class="modal-body">
        Data
        Peso
        <br>
        {% if animal.animalpesagem_set.count %}
          {% for pesagem in animal.animalpesagem_set.all %}
            <li>{{ pesagem.data|date:"d/m/Y" }} - {{ pesagem.peso }} kg</li>
          {% endfor%}
        {% else %}
            Esse animal ainda não foi pesado
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" button_id="{{ animal.id }}" onclick="">Salvar</button>
      </div>
    </div>
  </div>
</div>