{% extends 'base.html'%}
{% block title %}400. Requisição imprópria{% endblock title %}
{% block content %}

        <section class="featured">
            <div class="container"> 
                <div class="row mar-bot40">
                    <div class="col-md-6 col-md-offset-3">
                        
                        <div class="align-center">
                            <!-- <i class="fa fa-flask fa-5x mar-bot20"></i> -->
                            <i class="fa fa-bolt fa-5x mar-bot20"></i>
                            <h2 class="slogan">400</h2>
                            <h2>Requisição imprópria</h2>

                            <p>A requisição enviada não pode ser atendida</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}