{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'ico/favicon.ico' %}">
    <title>Rebanho</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!-- DTAEPICKER -->
    <link href="{% static 'datetimepicker/css/bootstrap-datetimepicker.min.css' %}" type="text/css" media="all" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <!-- <link href="starter-template.css" rel="stylesheet"> -->
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    
    <!-- <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script> -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  {% block css %}{% endblock css %}
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      {% include 'nav_bar.html' %}
    </div>
    {% if messages %}
      <div class="row-fluid">
        <div class="span12" >
          {% autoescape off %}
            {% for message in messages %}
              <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                <button type="button" class="close" data-dismiss="alert">Fechar</button>
                {% if 'info' in message.tags %}<i class="glyphicon glyphicon-info-sign"></i>{% endif %}
                {% if 'warning' in message.tags %}<i class="glyphicon glyphicon-warning-sign"></i>{% endif %}
                {% if 'success' in message.tags %}<i class="glyphicon glyphicon-ok"></i>{% endif %}
                {% if 'error' in message.tags %}<i class="glyphicon glyphicon-exclamation-sign"></i>{% endif %}
                {{ message }}
              </div>
            {% endfor %}
          {% endautoescape %}
        </div>
      </div>
    {% endif %}
  </nav>
  <div class="container-fluid">
  <!-- {# container-fluid: para conteúdo responsivo com largura fluída, isto é, toda a largura da janela. #} -->
    <h3>
    {% block page_title %}
    {% endblock page_title %}
    </h3>
    <div class="row-fluid">
      {% block content %}
      {% endblock content %}
    </div>
  </div>

<!--   <footer class="footer">
    <div class="container">
      <p class="text-muted">Place sticky footer content here.</p>
    </div>
  </footer> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>

    <!-- DATEPICKER -->
    <script type="text/javascript" src="{% static 'datetimepicker/js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'datetimepicker/js/locales/bootstrap-datetimepicker.pt-BR.js' %}"></script>
    {% block extra_js %} {% endblock extra_js%}
</body>

</html>
