{% extends 'base.html' %}

{% block content %}
    <div class="container">
      {% block page_title %}
      <br>

      {% endblock page_title %}
    </div>
    <div class="container">
      <h2 align=”right”>Gestão de rebanhos de Corte</h2>
    <div class="jumbotron">
      <div class="container">
        <div class="col-md-4">
          <h5>Agilidade no Manejo</h5>
            
          <!-- <p><a class="btn btn-default" href="#" role="button">Detalhes &raquo;</a></p> -->
        </div>
        <div class="col-md-4">
          <h5>Velocidade na pesagem</h5>

          <!-- <p><a class="btn btn-default" href="#" role="button">Detalhes &raquo;</a></p> -->
        </div>
        <div class="col-md-4">
          <h5>Fluxo de Caixa da Fazenda</h5>

         <!--  <p><a class="btn btn-default" href="#" role="button">Detalhes &raquo;</a></p> -->
        </div>
      </div>
    </div>

      <!-- Example row of columns -->
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h5>Controle das Vacinas</h5>

          <!-- <p><a class="btn btn-default" href="#" role="button">Detalhes &raquo;</a></p> -->
        </div>

        <div class="col-md-4">
          <h5>Aplicativo para Controles no Campo</h5>
          <!-- <p><a class="btn btn-default" href="#" role="button">Detalhes &raquo;</a></p> -->
        </div>

        <div class="col-md-4">
          <h5>Atende a Rastreabilidade</h5>
          <p>Integra com várias balanças e leitores RFID</p>
        </div>
      <hr>

    </div> 

{% endblock content %}
